---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Link from "@/components/Link.astro";
import PageHeading from "@/components/PageHeading.astro";
import { buttonVariants } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";
---

<Layout class="max-w-3xl">
  <PageHeading slot="heading" title="404" />
  <Breadcrumbs items={[{ label: "Oops", icon: "lucide:circle-help" }]} />

  <section
    class="flex flex-col items-center justify-center gap-y-4 text-center"
  >
    <div class="max-w-md">
      <h1 class="mb-4 text-4xl font-medium">
        La página que estas buscando no existe
      </h1>
      <p class="prose text-muted-foreground">
        Al parecer no pudimos encontrar la página que estas buscando pero puedes
        volver al inicio.
      </p>
    </div>
    <Link
      href="/"
      class={cn(buttonVariants({ variant: "outline" }), "flex gap-x-1.5 group")}
    >
      <span class="transition-transform group-hover:-translate-x-1">
        &larr;
      </span>
      Volver al inicio
    </Link>
  </section>
</Layout>
