---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Link from "@/components/Link.astro";
import PageHeading from "@/components/PageHeading.astro";
import { buttonVariants } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";
---

<Layout>
  <PageHeading slot="heading" title="404" />
  <Breadcrumbs items={[{ label: "Woops", icon: "lucide:circle-help" }]} />

  <section
    class="flex flex-col items-center justify-center gap-y-4 text-center"
  >
    <div class="max-w-md">
      <h1 class="mb-4 text-2xl font-medium">
        The page you are looking for was not found
      </h1>
      <p class="text-muted-foreground prose">
        The page you are looking for might have been removed, had its name
        changed, or is temporarily unavailable.
      </p>
      <Link
        href="/"
        class={cn(buttonVariants({ variant: "outline" }), "flex gap-x-1 group")}
      >
        <span class="transition-transform group-hover:-translate-x-1">
          &larr;
        </span>
        Go to homepage
      </Link>
    </div>
  </section>
</Layout>
