---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout>
  <h1 class="text-3xl">Test</h1>
  <p class="text-lg">This is a test page.</p>
  <Button>Click me</Button>
</Layout>
