---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mt-7 flex flex-col items-center justify-center">
    <h1 class="text-foreground dark:text-secondary-foreground mb-4 text-2xl">
      Estamos en desarrollo
    </h1>
    <p
      class="text-md text-muted-foreground dark:text-secondary-foreground mb-6"
    >
      Actualmente me encuentro desarrollando mi portafolio personal.
    </p>
  </div>
</Layout>
