---
import PageHeading from "@/components/PageHeading.astro";
import Skills from "@/components/Skills.astro";
import { Separator } from "@/components/ui/separator";
import WorkExperience from "@/components/WorkExperience.astro";
import { website } from "@/constants/constants";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <PageHeading slot="head" title="Inicio" />
  <section>
    <div>
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="font-mono text-2xl leading-none">
          {website.fullname}
        </h3>
        <p class="text-muted-foreground text-sm">
          {website.author} &bull; <span class="font-medium"
            >Desarrollador Software Independiente</span
          >
        </p>
      </div>
      <div class="p-6 pt-0">
        <p class="text-muted-foreground mb-2 text-sm">
          Desarrollador Software Freelance con prop贸sitos de innovaci贸n,
          creaci贸n y soluciones tecnol贸gicas para distintos sistemas,
          proporcionando adaptabilidad, escalabilidad y necesidades de clientes
          y empresas.
        </p>
      </div>
      <Separator />
    </div>
  </section>
  <section class="flex flex-col gap-y-2">
    <Skills />
    <Separator />
    <WorkExperience />
  </section>
</Layout>
