---
import PageHeading from "@/components/PageHeading.astro";
import TechStack from "@/components/TechStack.astro";
import { website } from "@/constants/constants";
import { getRecentPosts } from "@/lib/data";
import Layout from "../layouts/Layout.astro";

const posts = await getRecentPosts(website.howManyFeaturedPosts);
---

<Layout>
  <PageHeading slot="head" title="Inicio" />
  <section>
    <div>
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="font-mono text-2xl leading-none">
          &commat;{website.author}
        </h3>
        <p class="text-muted-foreground text-sm">
          {website.fullname} &bull; <span class="font-medium"
            >Desarrollador Software Independiente</span
          >
        </p>
      </div>
      <div class="p-6 pt-0">
        <p class="text-muted-foreground mb-2 text-sm">
          Bienvenido/a a mi portafolio personal. Aquí encontrarás una selección
          de mis proyectos y trabajos más destacados. Mi objetivo es mostrarte
          mis habilidades y experiencia en el desarrollo de software, así como
          mi pasión por la tecnología y la innovación.
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-6">
    <TechStack />
  </section>
</Layout>
