---
import { socials } from "@/constants";
import SocialsIcon from "./SocialsIcon.astro";
---

<footer class="py-4">
  <div
    class="mx-auto flex max-w-3xl flex-col items-center justify-center gap-y-2 px-4 sm:flex-row sm:justify-between"
  >
    <div class="flex flex-wrap items-center justify-center gap-x-2 text-center">
      <span class="text-muted-foreground text-sm">
        &copy; {new Date().getFullYear()} larayavrs. Todos los derechos reservados
      </span>
    </div>
    <SocialsIcon links={socials} />
  </div>
</footer>
