---
import Link from "@/components/Link.astro";
import { buttonVariants } from "@/components/ui/button";
import type { SocialHref } from "@/types";
import { icons } from "@/constants";

import { Icon } from "astro-icon/components";

interface Props {
  links: SocialHref[];
}

const { links } = Astro.props;
---

<ul class="flex flex-wrap gap-3" role="list">
  {
    links.map(({ href, label }) => (
      <li>
        <Link
          href={href}
          aria-label={label}
          title={label}
          class={buttonVariants({ variant: "outline", size: "icon" })}
          external
        >
            <Icon name={icons[label as keyof typeof icons]} || 'lucide:message-circle-question' class="size-5"/>
        </Link>
      </li>
    ))
  }
</ul>
