---
import { EXPERIENCE } from "@/constants/experience";
---

<section class="mt-12">
  <h2 class="mb-6 text-xl font-medium text-neutral-700 dark:text-neutral-300">
    Experiencia
  </h2>

  <div class="relative space-y-10">
    <div
      class="absolute top-2 left-[6px] h-full w-px bg-neutral-200 dark:bg-neutral-800"
    >
    </div>
    {
      EXPERIENCE.map((item) => (
        <div class="relative flex gap-6">
          <div class="relative z-10 mt-1 size-3 rounded-full bg-neutral-800 dark:bg-neutral-300" />

          <div class="pb-2">
            <span class="text-xs font-medium text-neutral-500 dark:text-neutral-400">
              {item.start} — {item.end}
            </span>

            <h3 class="mt-1 text-sm font-semibold text-neutral-900 dark:text-neutral-100">
              {item.position}
            </h3>

            <ul class="mt-3 space-y-2 pl-4 text-sm text-neutral-600 dark:text-neutral-400">
              {item.jobs.map((job) => (
                <li class="list-disc">{job}</li>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</section>
