---
import { EXPERIENCE } from "@/constants/experience";
import { TimelineIcon } from "./ui/timeline-icon";
---

<div class="mt-10 sm:mt-8">
  <h2 class="mb-3 text-xl font-medium text-neutral-400 dark:text-neutral-500">
    Experiencia
  </h2>
  <div>
    <div class="group relative flex flex-col gap-x-5 gap-y-6">
      {
        EXPERIENCE.map((item) => (
          <TimelineIcon>
            <div class="absolute start-0 top-1 h-3 w-3 rounded-full bg-neutral-400" />
            <div class="ml-8 grow pb-8 group-last:pb-0">
              <h3 class="mb-1 text-xs text-neutral-600 dark:text-neutral-400">
                {item.start} - {item.end}
              </h3>

              <p class="text-sm font-semibold text-neutral-800 dark:text-neutral-200">
                {item.position}
              </p>

              <ul class="ms-6 mt-3 list-disc space-y-1.5">
                {item.jobs.map((job) => (
                  <li class="ps-1 text-sm text-neutral-600 dark:text-neutral-400">
                    {job}
                  </li>
                ))}
              </ul>
            </div>
          </TimelineIcon>
        ))
      }
    </div>
  </div>
</div>
