---
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>larayavrs</title>
  </head>
  <body>
    <div class="flex h-fit min-h-screen flex-col gap-y-6">
      <main class="grow">
        <div class="mx-auto flex grow flex-col gap-y-6 px-4">
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
