---
import { cn } from "@/lib/utils";
import "@/styles/global.css";

import Header from "@/components/Header.astro";

const { isWide = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>larayavrs</title>
  </head>
  <body>
    <div class="flex h-fit min-h-screen flex-col gap-y-6 font-sans">
      <Header />
      <main class="grow">
        <div
          class={cn(
            "mx-auto flex grow flex-col gap-y-7 px-4 py-6 sm:px-6 lg:px-8",
            !isWide && "max-w-3xl",
          )}
        >
          <slot />
        </div>
      </main>
    </div>
  </body>
</html>
