---
import { cn } from "@/lib/utils";
import "@/styles/global.css";
import "@/styles/typography.css";

import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";

const { isWide = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head>
    <slot name="head" />
  </Head>
  <body>
    <div class="flex h-fit min-h-screen flex-col gap-y-6 font-sans">
      <Header />
      <main class="grow">
        <div
          class={cn(
            "mx-auto flex grow flex-col gap-y-7 px-4 py-6 sm:px-6 lg:px-8",
            !isWide && "max-w-3xl",
          )}
        >
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
